html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/AmsterdamOne-eZ12l.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amsterdam One Slant";
  src: url("/fonts/AmsterdamOneSlant-0WglP.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #f2f8fc;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

h1{
  font-family: "Amsterdam One";
}

.navbar-brand {
  font-family: "Amsterdam One";
  color: #f1f1f1 !important;
  font-size: 15px;
}


.ff-amsterdam-one-slant{
  font-family: "Amsterdam One Slant";
}
p,
a,
button {
  font-family: "Roboto", serif;
}

/* Navigation */
.navbar-toggler {
  border: 1px solid white !important; /* Change border color */
  padding: 8px 10px; /* Adjust padding */
  border-radius: 5px;
}

.navbar-toggler i {
  font-size: 24px; /* Increase icon size */
  color: white; /* Change icon color */
}

.dropdown-item:hover {
  background-color: #051527;
  color: #f2f8fc;
}

/* Skils Section */
.skill-icon {
  height: 60px;
  width: 60px;
}

/* Footer & Header */
.bg-charcoal-blue {
  background-color: #051527;
}

.my-profile {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
#add-projects,
#add-achievments {
  border-radius: 6px;
}

#banner-bg-img {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0 100%),
    url("./media/images/workspace.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 550px;
  width: 95%;
  margin: 10px auto;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0 100%),
    url("./media/images/education.jpg");
  background-size: cover;
  height: 500px;
  width: 95%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#experience {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0 100%),
    url("./media/images/experience.jpg");
  background-size: cover;
  height: 500px;
  width: 95%;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.educational-card {
  border-top: 2px solid white;
  border-bottom: 1px solid grey;
  border-left: 2px solid white;
  border-right: 1px solid grey;
  padding: 10px 12px;
  border-radius: 6px;
  margin-top: 15px;
}

.experience-card {
  border-bottom: 2px solid white;
  border-top: 1px solid grey;
  border-right: 2px solid white;
  border-left: 1px solid grey;
  padding: 10px 12px;
  border-radius: 6px;
  margin-top: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt-100 {
  margin-top: 100px;
}
#portfolio-btn {
  background-color: #051527;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

#portfolio-btn:hover,
#cta-btn:hover {
  color: #051527;
  background-color: white;
  border: 1px solid #051527;
}

#cta-btn {
  color: #051527;
  background-color: white;
  text-decoration: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.resume-experience-points li {
  list-style: none;
}
.resume-experience-points li:before {
  content: "✓";
  margin-right: 10px;
}

.form-control::placeholder {
  color: #051527;
  font-size: 18px;
}

.form-control:focus {
  border: 1px solid #051527;
}

.fs-40 {
  font-size: 40px;
}

.fw-normal {
  font-weight: 400;
}

.fw-light {
  font-weight: 350;
}

#contact {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0 100%),
    url("./media/images/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 500px;
  border-radius: 6px;
}

.text-justify {
  text-align: justify;
}

/* Animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromBottom {
  animation-name: slideFromBottom;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromTop {
  animation-name: slideFromTop;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
/* Create Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #051527;
}

.carousel .carousel-indicators button {
  background-color: #555555;
  height: 5px;
}

.carousel .carousel-indicators .active {
  background-color: #051527;
}

/* Customize carousel arrow buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 28px;
  width: 28px;
  outline: #051527;
  background-size: 100%, 100%;
  border: 3px solid #051527;
  background-color: #051527;
  border-radius: 50%;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .educational-card {
    margin-bottom: 10px;
  }

  .skill-icon {
    height: 50px;
    width: 50px;
  }

  .fs-sm-14 {
    font-size: 14px;
  }

  .fs-sm-20 {
    font-size: 20px;
  }

  #banner-bg-img {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0 100%),
      url("./media/images/workspace.webp");
    width: 90%;
    height: 400px;
  }

  .flex-sm-col-rev {
    flex-direction: column-reverse;
  }

  .mt-sm-120 {
    margin-top: 120px;
  }

  #experience {
    height: 600px;
  }

  .flex-container {
    flex-direction: column;
    align-items: start;
  }

  .my-profile {
    display: block;
    margin: 25px auto;
  }
}
