* {
  scroll-behavior: smooth;
}

.card-img {
  object-fit: cover;
}

.social {
  text-decoration: none;
  color: white;
  display: inline;
}

.social:hover {
  color: grey;
}

.skill-icon {
  height: 60px;
  width: 60px;
}

.card-img:hover {
  opacity: 0.9;
}

.bg-charcoal-blue {
  background-color: #051527;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

p,
a,
button {
  font-family: "Roboto", serif;
}

#add-projects,
#add-achievments {
  border-radius: 6px;
}

#banner-bg-img {
  background-image: url("./media/images/workspace.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 300px;
}

.educational-card {
  border-top: 3px solid #051527;
  border-bottom: 1px solid grey;
  border-left: 3px solid #051527;
  border-right: 1px solid grey;
  padding: 10px 12px;
  border-radius: 6px;
  margin: auto;
}

#portfolio-btn{
  color: #051527;
  background-color: white;
  text-decoration: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

#portfolio-btn:hover{
  background-color: #051527;
  color: white;
  border: 1px solid white;
}

/* Animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromBottom {
  animation-name: slideFromBottom;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromTop {
  animation-name: slideFromTop;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@media screen and (max-width: 768px) {
  .educational-card {
    margin-bottom: 10px;
  }
}
