:root {
  --charcoal-blue: #051527;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/AmsterdamOne-eZ12l.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}


.nav-item a{
  color: var(--charcoal-blue) !important;
}

.navbar-brand {
  font-family: "Amsterdam One";
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #051527 !important;
}

.ff-amsterdam-one {
  font-family: "Amsterdam One";
}

/* p,
a,
button {
  font-family: "Roboto", serif;
} */


/* Footer & Header */
.bg-charcoal-blue {
  background-color: var(--charcoal-blue);
}

.swiper{
  padding-bottom: 40px;
}

/* Remove default swipper arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet{
  background-color: #cacaca;
  opacity: 1;
}

.swiper-pagination-bullet-active{
 background-color: #051527; 
}

.swiper-pagination{
  margin-bottom: 0px;
  bottom: 10px;
}

/* FAQs */
.accordion-header > .accordion-button {
  color: var(--charcoal-blue) !important;
  background-color: #f2f8fc;
  border-top: none;
  font-weight: 400;
}

.accordion-header > .accordion-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.accordion-body {
  font-weight: 350;
}

.accordion-button::after {
  display: none;
}


/* Animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromBottom {
  animation-name: slideFromBottom;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.slideFromTop {
  animation-name: slideFromTop;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

.swiper-slide{
  height: fit-content;
  padding: 10px;
  border-radius: 12px;
}

/* Create Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--charcoal-blue);
}
